# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
UpdatedModels_2017-08-28
AllShotsData2011-2017.rds
touches 2015.csv
touches 2016.csv
touches 2017.csv
ShotsByTeam
minutes played by game 2015.csv
minutes played by game 2016.csv
minutes played by game 2017.csv
player_season_data_07_16.csv
shotdata with xgoals 3.0 2011.csv
shotdata with xgoals 3.0 2012.csv
shotdata with xgoals 3.0 2013.csv
shotdata with xgoals 3.0 2014.csv
shots with xG 2015.csv
shots with xG 2016.csv
shots with xG.csv
